{% extends "base.html" %}
{% load static custom_filters %}

{% block css_block %}
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" 
    crossorigin="anonymous">

<link rel="stylesheet" href="{% static "css/accessible_text_color.css" %}" />
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
{% endblock  %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>a11y Color Combination Generator</h1>
        </div>
    </div>

    <div id="color-calculator" class="row">
        <div class="col-12 col-sm-4">
            <form id="bg-color-form" lpformnum="1">
                <div class="form-group">
                    <label for="bg-color">Background Color</label>
                    <input type="color" id="bg-color" class="color-chooser form-control" value="#ffffff" />
                </div>
                <fieldset class="form-check form-check-inline">
                    <legend>
                        Target Standard:
                    </legend>
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="target-standards" id="aa-standard" value="aa" checked/> WCAG Level AA
                    </label>
                    <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="target-standards" id="aaa-standard" value="aaa" /> WCAG Level AAA
                    </label>                        
                </fieldset>
                <div class="form-group">
                    <input type="submit" id="bg-submit" class="btn btn-primary form-control" value="Calculate Colors"/>
                </div>
            </form>
        </div>
        <div class="col-12 col-sm-8 d-flex flex-column align-items-center">
            <form id="hue-chooser">
                <fieldset class="">
                    <legend>Select a hue to filter the approved colors:</legend>
                    <div class="hue-row d-flex flex-row justify-content-center">
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input position-static" type="radio" name="hue-chooser" id="hue-all" value="all" aria-label="All hues">
                            <span class="sr-only">All Hues</span>
                       </label>
                    </div>
                    {% for hue in hue_range %}
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            <input class="form-check-input position-static" type="radio" name="hue-chooser" id="hue-{{ hue }}" value="{{ hue }}" aria-label="Hue {{ hue }}">
                            <span class="sr-only">
                                {{ hue|color_name }}
                            </span>
                        </label>
                    </div>
                    {% if hue|add:10|divisibleby:120 and hue != 0 %}
                    </div>
                    <div class="hue-row d-flex flex-row justify-content-center">
                    <div class="radio-spacer"></div>
                    {% else %}
                    {% endif %}
                    {% endfor %}
                    </div>
                </fieldset>
            </form>
            <div id="approved-colors">
                <div id="aa-colors">
                    
                </div>
                
                <div id="aaa-colors">
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}

{% block js_block %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<script src="{% static "js/accessible_text_color.js" %}"></script>
{% endblock  %}