/**
 * Fonts
 */

$light-weight: 200;
$regular-weight: 400;
$bold-weight: 600;

$base-font-family: 'Fira Sans', Arial, sans-serif;
$base-font-weight: $regular-weight;
$base-font-line-height: 1.5rem;
$base-font-size: 1.5rem;

/**
 * Colors
 */

$main-background: #333333;
$main-textcolor: beige;