form {
    width: 50%;
}

input[type='color'] {
    height: 50px;
}

form#hue-chooser {
    width: 100%;
}

$radio-size: 25px;
div.radio-spacer {
    width: $radio-size/2 + 1px;
    height: $radio-size;
    margin: 0px;
    margin-right: 7px;
    display: inline-block;
}

div.hue-row {
    // line-height: 0;
    margin: 0px;
    padding: 0px;
}

div.form-check {
    margin: 0px;
}

label.form-check-label {
    margin: 0px;
}

input[type='radio']#hue-all:after, 
input[type='radio']#hue-all:checked:after {
    opacity: 100;
    width: $radio-size;
    height: $radio-size;
    border-radius: 0px;
    top: -5px;
    left: -10px;
    position: relative;
    background-color: white;
    content: 'All';
    display: inline-block;
    visibility: visible;
    margin-right: 10px;
}

input[type='radio']#hue-all:checked:after {
    border: 2px solid black;
}

input[type='radio'][name='hue-chooser']:after {
    opacity: 100;
    width: $radio-size;
    height: $radio-size;
    border-radius: 0px;
    top: -5px;
    left: -10px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible; 
}

input[type='radio'][name='hue-chooser'] {
    margin: -$radio-size;
    margin-top: 0px;
    margin-bottom: 0px;
}

@for $hue from 0 to 36 {

    input[type='radio']#hue-#{$hue*10}:after, 
    input[type='radio']#hue-#{$hue*10}:checked:after {
        background-color: hsl($hue*10, 100, 50);
    }
    
    input[type='radio']#hue-#{$hue*10}:checked:after {
        border: 2px solid hsl(($hue - 18)*10, 100, 50);
    }
}