form {
    width: 50%;
}

input[type='color'] {
    height: 50px;
}

form#hue-chooser {
    width: 100%;
}

$hue-chooser-size: 25px;

div.hue-row {
    // line-height: 0;
    margin: 0px;
    padding: 0px;
}

div.form-check {
    margin: 0px;
}

label.form-check-label {
    margin: 0px;
}

label, legend {
   margin-bottom: 0.5rem;
   font-family: $base-font-family;
   font-weight: $base-font-weight;
   font-size: $base-font-size * 0.75;
}

input[type='radio']#hue-all {
    margin-right: px;
}
input[type='radio']#hue-all:after, 
input[type='radio']#hue-all:checked:after {
    opacity: 100;
    width: $hue-chooser-size;
    height: $hue-chooser-size;
    border-radius: 0px;
    top: -5px;
    left: -10px;
    position: relative;
    background-color: $main-background;
    color: $main-textcolor;
    content: 'All';
    display: inline-block;
    visibility: visible;
}

input[type='radio']#hue-all:checked:after {
    border: 2px solid black;
}

input[type='radio'][name='hue-chooser']:after {
    opacity: 100;
    width: $hue-chooser-size;
    height: $hue-chooser-size;
    border-radius: 0px;
    top: -5px;
    left: -10px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible; 
}

div.radio-spacer {
    width: $hue-chooser-size/2 + 1px;
    height: $hue-chooser-size;
}

input[type='radio'][name='hue-chooser'], div.radio-spacer {
    // margin: -$hue-chooser-size;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
}

@for $hue from 0 to 36 {

    input[type='radio']#hue-#{$hue*10}:after, 
    input[type='radio']#hue-#{$hue*10}:checked:after {
        background-color: hsl($hue*10, 100, 50);
    }
    
    input[type='radio']#hue-#{$hue*10}:checked:after {
        border: 2px solid hsl(($hue - 18)*10, 100, 50);
    }
}